services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8000:8000  # Control panel
      - 8080:8080  # qBittorrent
      - 9696:9696  # Prowlarr
    volumes:
      - ./config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONPRIVATE}
      - SERVER_COUNTRIES=Australia
      - SERVER_CITIES=Sydney
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
      - HEALTH_TARGET_ADDRESS=google.com:443
      - FIREWALL=on
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24
      - VPN_DISABLE_IPV6=true
      - TZ=${TZ}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -s http://localhost:8000/v1/openvpn/portforwarded | grep -q '\"port\":0' && exit 1 || exit 0"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s
    networks:
      - media-network

  qbittorrent:
    image: linuxserver/qbittorrent:arm64v8-latest
    container_name: qbittorrent
    restart: always
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config
      - ${DATA}/torrents:/data/torrents
      - /home/lee/trackerfiles/:/trackerfiles
      - /home/lee/torrents:/torrents

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: always
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/prowlarr:/config

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/sonarr:/config
      - ${DATA}:/data
      - /home/lee/torrents:/torrents
    networks:
      - media-network

  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/radarr:/config
      - ${DATA}:/data
      - /home/lee/torrents:/torrents
    networks:
      - media-network

  lidarr:
    container_name: lidarr
    image: lscr.io/linuxserver/lidarr:latest
    restart: unless-stopped
    ports:
      - 8686:8686
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/lidarr:/config
      - ${DATA}:/data
      - /home/lee/torrents:/torrents
    networks:
      - media-network

  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr:latest
    restart: unless-stopped
    ports:
      - 6767:6767
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=022
    volumes:
      - ./config/bazarr:/config
      - ${DATA}/media:/data/media
      - /home/lee/torrents:/torrents
    networks:
      - media-network

  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    restart: unless-stopped
    ports:
      - 5055:5055
    environment:
      - LOG_LEVEL=debug
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PORT=5055
    volumes:
      - ./config/jellyseer:/app/config
      - /home/lee/torrents:/torrents
    networks:
      - media-network

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    network_mode: "service:gluetun"
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}

  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    restart: unless-stopped
    ports:
      - 9000:9000
      - 8001:8001
    command: -H unix:///var/run/docker.sock --tunnel-port 8001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/portainer:/data
    networks:
      - media-network

  gluetun-watchdog:
    image: alpine
    container_name: gluetun-watchdog
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./gluetun_watchdog.sh:/gluetun_watchdog.sh
    entrypoint: sh /gluetun_watchdog.sh
    depends_on:
      - gluetun
    networks:
      - media-network

networks:
  media-network:
    driver: bridge