services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8000:8000  # Control panel
      - 8080:8080  # qBittorrent
      - 9696:9696  # Prowlarr
      - 8191:8191 # flaresolverr
      - 7474:7474 # autobrr
    dns:
      - 192.168.1.20 # Your AdGuard IP 
      - 1.1.1.1 # Fallback to Cloudflare
    sysctls: 
      - net.ipv6.conf.all.disable_ipv6=1
    volumes:
      - ./config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONPRIVATE}
      - SERVER_COUNTRIES=Australia
      - SERVER_CITIES=Sydney
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
      - HEALTH_TARGET_ADDRESS=google.com:443 # Fix healthcheck
      - FIREWALL=on
      - FIREWALL_OUTBOUND_SUBNETS=192.168.1.0/24
      - VPN_DISABLE_IPV6=true
      - TZ=${TZ}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "sh", "-c", "curl -s http://localhost:8000/v1/openvpn/portforwarded | grep -q '\"port\":0' && exit 1 || exit 0"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  gluetun-watchdog:
    image: alpine
    container_name: gluetun-watchdog
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./gluetun_watchdog.sh:/gluetun_watchdog.sh
    entrypoint: sh /gluetun_watchdog.sh
    depends_on:
      gluetun:
        condition: service_healthy

  qbittorrent:
    image: linuxserver/qbittorrent:arm64v8-latest
    container_name: qbittorrent
    restart: always
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - WEBUI_PORT=8080
    volumes:
      - ./config/qbittorrent:/config
      - ${DATA}/torrents:/data/torrents
      - /home/lee/trackerfiles/:/trackerfiles
      - /home/lee/torrents:/torrents

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: always
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/prowlarr:/config
  autobrr:
    container_name: autobrr
    image: ghcr.io/autobrr/autobrr:latest
    restart: unless-stopped
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    #logging:
    #  driver: json-file
    #  options:
    #    max-file: ${DOCKERLOGGING_MAXFILE}
    #    max-size: ${DOCKERLOGGING_MAXSIZE}
    user: 1000:1000
    environment:
      - TZ=${TZ}
    volumes:
      - ./config/autobrr:/config
  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/sonarr:/config
      - ${DATA}:/data
      - /home/lee/torrents:/torrents
      
  radarr:
    container_name: radarr
    image: linuxserver/radarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config/radarr:/config
      - ${DATA}:/data
      - /home/lee/torrents:/torrents

  # lidarr:n
  #   container_name: lidarr
  #   image: lscr.io/linuxserver/lidarr:latest
  #   restart: unless-stopped
  #   network_mode: host
  #   environment:
  #     - PUID=${PUID}
  #     - PGID=${PGID}
  #     - TZ=${TZ}
  #   volumes:
  #     - ./config/lidarr:/config
  #     - ${DATA}:/data
  #     - /home/lee/torrents:/torrents

  bazarr:
    container_name: bazarr
    image: linuxserver/bazarr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - UMASK_SET=022
    volumes:
      - ./config/bazarr:/config
      - ${DATA}/media:/data/media

  jellyseerr:
    container_name: jellyseerr
    image: fallenbagel/jellyseerr:latest
    restart: unless-stopped
    network_mode: host
    environment:
      - LOG_LEVEL=debug
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - PORT=5055
    volumes:
      - ./config/jellyseer:/app/config

  flaresolverr:
    container_name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    restart: unless-stopped
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
#  cross-seed:
#    image: ghcr.io/cross-seed/cross-seed:6
#    container_name: cross-seed
#    user: 1000:1000 # this must match your torrent client (cross-seed does not support using PGID and PUID)
#    ports:
#      - "2468:2468"
#    volumes:
#      - /path/to/config/folder:/config
#      - # You will need at least one extra volume for your media drive if using https://www.cross-seed.org/docs/tutorials/linking
#    command: daemon
#    restart: unless-stopped
  # portainer:
  #   container_name: portainer
  #   image: portainer/portainer-ce:latest
  #   restart: unless-stopped
  #   network_mode: host
  #   command: -H unix:///var/run/docker.sock --tunnel-port 8001
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  #     - ./config/portainer:/data